{% extends 'base.html' %}

{% block head %}
    <title>Add Page</title>
{% endblock %}

{% block navbutton %}
    <div class="navbar-right">
        <a href="/logout">Logout</a>
    </div>
{% endblock %}

{% block body %}
    <div id="form-container">
        <h2 class="form-title">Add Material</h2>
        <form class="standout-form" action="/inventory/add" method="post">
            <div class="form-add-row">
                <label>Material content:</label>
                <input name="content" class="add-input" type="text" placeholder="Type in..." required>
            </div>
            <div class="form-add-row">
                <label>Fragile:</label>
                <input name="fragile" class="add-input" type="text" placeholder="Type in..." required>
            </div>
            <div class="form-add-row">
                <label>Placement:</label>
                <input name="placement" class="add-input" type="text" placeholder="Type in..." required>
            </div>
            <div class="form-add-row">
                <label>Instruction::</label>
                <input name="instruction" class="add-input" type="text" placeholder="Type in..." required>
            </div>
            <div class="form-add-row">
                <label>Units available:</label>
                <input name="units_available" class="add-input" type="number" placeholder="Type in..." required>
            </div>
            <div class="form-add-row">
                <label>Unit:</label>
                <input name="unit" class="add-input" type="text" placeholder="Type in..." required>
            </div>

            <div class="add-button-container">
                <input type="submit" id="add-button" class="button" name="action" value="Add">
            </div>
        </form>
    </div>
{% endblock %}