{% extends 'base.html' %}


{% block head %}
    <title>Home</title>
{% endblock %}

{% block navbutton %}
    <div class="navbar-right">
        <a href="/login">Edit Materials</a>
    </div>
{% endblock %}

{% block body %}
    <div id="input-container">
        <h1>Get Material Info</h1>
        <form action="/" method="post" class="standout-form">
            <input type="text" id="code-input" name="input" placeholder="Enter code or name:" required>
            <input type="submit" id="submit-button" name="action" value="Search">
        </form>
    </div>
{% endblock %}